{% extends "layout.html" %}

{% block title %}Expenses{% endblock %}

{% block navigation %}
    <a href="{{ url_for('add') }}" class="navbar-toggle">
        <span class="glyphicon glyphicon-plus"/>
    </a>
{% endblock %}

{% block page_content %}

    <select class="form-control input-lg" id="date">
        {% for date in range %}
            <option value="{{ loop.index0 }}" {% if page == loop.index0 %}selected{% endif %}>{{ date[0] }}</option>
        {% endfor %}
    </select>
    <p></p>
    <div class="list-group">
        {% for expense in expenses %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <img src="{{ url_for('uploads', image=expense.attachment) if expense.attachment }}" onerror="this.src='../static/expenses.jpg';" class="img-thumbnail">
                    </div>
                    <div class="col-xs-8 col-sm-10">
                        <p class="list-group-item-text">{{ expense.concept }}</p>
                        <p class="list-group-item-text">{{ expense.date }}</p>
                        <p class="list-group-item-text">{{ expense.price }} {{ expense.currency }}</p>
                        <p class="list-group-item-text"><a href="{{ url_for('edit', eid=expense.id) }}">Edit</a></p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <!-- Modal -->
    <div id="imagepreview" class="image-preview modal fade">
        <img src="">
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        $(function () {
            $("body").on("click", "img.img-thumbnail", function () {
                var image = $('#imagepreview');
                image.find('> img').attr('src', $(this).attr('src'));
                image.modal('show');
                image.on('click', function () {
                    image.modal('hide');
                });
            });
            $("#date").on("change", function () {
                window.location.href = '{{ url_for('index') }}' + this.value;
            });
        });
    </script>
{% endblock %}
