{% extends "layout.html" %}

{% block title %}Expenses{% endblock %}

{% block navigation %}
    <a href="{{ url_for('add') }}" class="navbar-toggle">
        <span class="glyphicon glyphicon-plus"/>
    </a>
{% endblock %}

{% block page_content %}
    <div class="list-group">
        {% for expense in expenses %}
            <div class="list-group-item">
                <div class="row">
                    <div class="col-xs-4 col-sm-2">
                        <img src="uploads/{{ expense.attachment }}" onerror="this.src='../static/expenses.jpg';" class="img-thumbnail">
                    </div>
                    <div class="col-xs-8 col-sm-10">
                        <p class="list-group-item-text">{{ expense.concept }}</p>
                        <p class="list-group-item-text">{{ expense.date }}</p>
                        <p class="list-group-item-text">{{ expense.price }} {{ expense.currency }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
