{% extends "bootstrap/base.html" %}

{% block title %}
    Expenses
{% endblock %}

{% block metas %}
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="../static/application.css"/>
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                {% block navigation %}{% endblock %}
                <a class="navbar-brand" href="/">Expenses</a>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        {% for message in get_flashed_messages() %}
            <div class="alert alert-warning">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ message }}
            </div>
        {% endfor %}

        {% block page_content %}{% endblock %}
    </div>
{% endblock %}
